* {
    padding:0;
    margin:0;
    font-family: "Montserrat", sans-serif;
 
}


body {
   display:grid;
    grid-template-rows: auto 1fr;
   height:100vh;
  
    
    
}

.header {
    display:grid;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px grey;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    z-index:1;
}

.main {
    display:grid;
    grid-template-rows: 0.2fr 1fr;
    background-color: rgb(244, 241, 245);
}
.title {
    font-size: 30px;
    font-weight: 700;
}
button {
    
    border: transparent;
    background-color:rgb(244, 241, 245);
    border-radius: 10px;
    font-size: 20px;
    width: 160px;
    height:80px;
}
button:hover{
    background-color: rgb(220, 220, 220);
}
.footer {
   
    display: grid;
    gap:10px;
    grid-template-columns: 1.28fr 1fr;
    
    align-items: center;
    height: 80px;
    background-color: rgb(244, 241, 245) ;
}
p{
    justify-self: end;
    font-size: 20px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 40px;
    width: 30px
}
.main-top{
    display:grid;
    justify-items: center;
    align-content: center;
    height:100%;
}


.main-bottom{
    display:grid;
    justify-self: center;
    justify-items: center;
    height:100%;
    width:70%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.bookCard {
    display:grid;
    height: 200px;
    width: 230px;
    background-color:  rgb(237, 230, 230);
    grid-template-rows: 50px 50px 50px;
    font-size: 15px;
    font-weight: 500;
    gap: 8px; /* Space between rows */
    border: 1px solid #ccc;
    padding: 16px;
    margin: 8px;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

dialog {
    border-radius: 10px;
    justify-self: center;
    align-self: center;
    padding: 5px;
    text-indent: 25px;
}

.dynamic-form{
    margin-top:20px;
   
    display:grid;
    height:220px;
    width: 400px;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap:15px;
    justify-items: center;
    align-items: center;
}

input {
    
    margin-right: 10px;
    height: 30px;
    width: 180px;
    text-indent: 3px;
    border-radius: 5px;
    
}

label {
    justify-self: start;
}

.dynamic-form > button {
    height: 50px;
    font-size: 20px
}
